body {
  scroll-behavior: smooth;
}


section {
  padding-top: 80px;
}


#inicio {
  background-image: url('./assets/images/practicas-desarollo-software.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  position: relative;
}

#inicio .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  /* display: inline-block; */
}


/* .text-highlight {
  color: #ffc107;
  font-weight: 700;
} */

#inicio h1,
#inicio p {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}


.logo{
  width: 50px;
}

h1{
  font-family:montserrat;
  margin-bottom: 0px;
}

.lead{
  font-size: medium;
  color: #c7c7c7;
}
.spanOne{
  color: rgb(58, 255, 183);
}
.spanTwo{
  font-size:large;
  color: rgb(255, 0, 157);
}

.boton-home{
  background-color:  rgb(58, 255, 183);
  color: black;
  border: none;
}

.boton-home:hover{
  background-color:rgb(255, 0, 157);
}

footer a {
  transition: color 0.3s ease;
}

#carousel-tecnologias {
  transition: transform 0.5s ease-in-out;
  width: max-content;
}


.carousel-wrapper {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.carousel-viewport {
  width: 640px; /* 4 logos * 140px (img) + margen */
  margin: 0 auto;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.3s ease-in-out;
  gap: 20px; /* Espacio entre los logos */
}

.carousel-track img {
  padding: 30px;
  width: 140px;
  height: auto;
  object-fit: contain;
  flex-shrink: 0;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  z-index: 10;
}

.carousel-arrow.left {
  left: -40px;
}

.carousel-arrow.right {
  right: -40px;
}

@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 0 rgba(0, 123, 255, 0);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 0 rgba(0, 123, 255, 0);
  }
}

.certificado-card {
  transition: transform 0.4s ease, border 0.3s ease;
  border: 2px solid transparent;
  cursor: pointer;
}

.certificado-card:hover {
  transform: scale(1.05);
  border: 2px solid rgba(0, 123, 255, 0.7);
  animation: pulseGlow 1.5s infinite;
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}
footer a img {
  transition: transform 0.2s ease;
}

footer a:hover img {
  transform: scale(1.1);
}

.card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}
